@using Blazored.LocalStorage
@inject ILocalStorageService Storage
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Marketplace.Blazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @if (IsAuthorized)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="profile">
                    <span class="oi oi-person" aria-hidden="true"></span> Profile
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <button class="btn btn-link nav-link" @onclick="Logout">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                </button>
            </div>
        }
        
            <div class="nav-item px-3">
                <button class="btn btn-link nav-link" @onclick="HandleSignInLinkClick">
                    <span class="oi oi-account-login" aria-hidden="true"></span> Sign In
                </button>
            </div>
            <div class="nav-item px-3">
                <button class="btn btn-link nav-link" @onclick="HandleSignUpLinkClick">
                    <span class="oi oi-clipboard" aria-hidden="true"></span> Sign Up
                </button>
            </div>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool IsAuthorized = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        var token = await Storage.GetItemAsStringAsync("token");
        IsAuthorized = !string.IsNullOrEmpty(token);
    }


    private void HandleSignInLinkClick()
    {
        NavigationManager.NavigateTo("signin");
    }

    private void HandleSignUpLinkClick()
    {
        NavigationManager.NavigateTo("signup");
    }

    private async Task Logout()
    {
        // Perform logout logic, e.g., clearing the token from storage
        await Storage.RemoveItemAsync("token");
        IsAuthorized = false;

        NavigationManager.NavigateTo("signin");
    }
}
